body{
    background-image: url('https://cdn.discordapp.com/attachments/998848403373043752/1213574842754801745/alberto-bianchini-krPdyjs1iTM-unsplash.jpg?ex=65f5f8a5&is=65e383a5&hm=68be25bc5d9a6f18c4e06f20149fbf81c21b3edcd0288c433d7020a60773a185&');
    background-size: cover;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}